body {
  background-color: black;
}

#main {
  color: khaki;
  text-align: center;
}

#reviews-main {
  color: khaki;
  text-align: center;
}

.panel-title {
  color: white;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250p, 1fr));
  gap: 20px;
  padding: 20px;
}

.content-panel {
  background-color: #1a1a5c;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
}

.content-panel:hover {
  transform: scale(1.01);
}
