body {
  background-color: black;
}

#main {
  color: khaki;
  text-align: center;
}

#reviews-main {
  color: khaki;
  text-align: center;
}

.review-panel {
  background-color: #090040;
  padding: 5px;
  width: 500px;
  border-radius: 10px;
}

.review-panel h3 {
  color: #471396;
}

.review-panel p {
  color: #B13BFF;
}
